<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="photo.leniu.com.photosdk_lib"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:targetSdkVersion="21" />

    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--允许读取手机状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <application>

        <activity android:name="photo.leniu.com.photosdk_lib.PhotoTool"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="behind" />

        <!-- authorities需修改前缀为当前项目包名 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="photo.leniu.com.photodemo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>

